@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: solid green*/
}

:root {
    --color: #0E0C0D;

}

body {
    font-family: Montserrat, 'sans-serif';
    color: var(--color)
}

.info {
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    max-width: 1110px;
    
    width: 97%;
    margin: 0 auto;
    /*padding: 0 15px;*/
    background-color: rgb(248, 246, 243);
    border-radius: 14px;
}

.info__container img {
    width: 100%;
    max-width: 1110px; 
}

.info__text {
    /*margin-block: 25px;*/
    max-width: 1024.37px;
    width: 100%;
    margin-top: 12px;
    max-height: 150px;
    overflow: hidden;
    position: relative;
    transition: max-height 1s;
    /*margin-left: 0;*/
    /*padding: 0 15px;*/
    }

.info__text::after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    content: "";
    width: 100%;
    height: 150px;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
}

.info__text--active {
    max-height: 1000px;
    background: linear-gradient(none);
}

.info__text--active::after {
    display: none;
}

.info__text h2 {
    font-size: 20px;
    font-weight: 700;
}

.info__text p {
    color: #797979;
    font-size: 13px;
    margin-bottom: 1em;
}

.info__button {
    width: 157px;
    height: 44px;
    color: #473E43;
    background-color: #F7D22D;
    font-family: Montserrat, 'sans-serif';
    font-size: 14px;
    font-weight: 700;
    padding: 8px 35px;
    border: none;
    border-radius: 8px;
    margin: 25px auto 21px 63px;
    align-self: flex-start;
    cursor: pointer;
}

/*Catalog*/

.catalog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog__title {
    font-family: 'Intel', 'sans-serif';
    font-size: 40px;
    font-weight: 600;
}

.catalog__filter {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 9px 16px;
    color: var(--color);
    cursor: pointer;
    transition-duration: 5s;
    transition-property: backgraund-color, color;
}

.catalog__filter svg {
    fill: #FF7010;
    transition: fill .3s;
}



.catalog__filter: :hover svg {
    fill: #fff
}

/*End Catalog*/

/* Popup*/
.no-scroll {
    overflow: hidden;
}

.popup-filter {
    position: fixed;
    background-color: #797979;
    opacity: .5;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(80px);
    display: flex;
    justify-content: end;
}


.popup-filter__body {
    background-color: #fff;
    width: 540px;
    height: 100%;

}

/* Popup end*/
